@model DanceCon.Models.ParticipantViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "RemoveorEdit";
    
    var contestid = ViewBag.contestid;
}
<form method="post" enctype="multipart/form-data" asp-action="RemovePart">
    <div class="card border-primary m-3 text-center">
        <h3 class="card-header">@Model.Name</h3>
        
        
        
        <div class="card-body">
            <h5 class="card-title">Country: @Model.Country City: @Model.City</h5>

        </div>


        
        

        @if (SignInManager.IsSignedIn(User))
        {
            <button class="btn btn-danger">Remove</button>
        }

</form>
@if (SignInManager.IsSignedIn(User))
{

    @Html.ActionLink("Edit", "EditPart", new { id = @Model.ID }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })

}
     </div>


