@model IEnumerable<DanceCon.Models.ContestViewModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Contestlist";
        

}
<div class="page-header text-center">

    <h1>Your registration on Contests</h1>
</div>

<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="Search" class="form-control" />

        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="bs-component">
            <table class="table table-hover">
                <tr class="table-light">


                    <th> @Html.ActionLink("Title", "Contestlist", new { sortOrder = ViewBag.TitleSortParm })  </th>
                    <th>  @Html.ActionLink("Country", "Contestlist", new { sortOrder = ViewBag.CountrySortParm })  </th>
                    <th>City    </th>
                    <th>Category </th>
                    <th>Type(Age) </th>
                    <th> @Html.ActionLink("Date of Contest", "Contestlist", new { sortOrder = ViewBag.DateSortParm })   </th>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <th>Add Participant</th>
                    }
                    <th>Participants</th>
                    <th>Info</th>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <th>Edit/Remove</th>
                    }

                </tr>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="Search">


                            <td>@item.Title     </td>
                            <td>@item.Country   </td>
                            <td>@item.City</td>
                            <td>@item.CategoryText</td>
                            <td>@item.TypeText</td>
                            <td>@Html.DisplayFor(modelItem => item.ContestDate, "{0:dd/MM/yyyy}")</td>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <td>
                                    @Html.ActionLink("+Participant", "AddPart", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
                                </td>
                            }


                            <td>
                                @Html.ActionLink("List", "Participants", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-secondary", @role = "button" })
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Detail", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-info", @role = "button" })
                            </td>

                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                            {
                                <td>
                                    @Html.ActionLink("Edit/Remove", "RemoveContest", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-warning", @role = "button" })
                                </td>
                            }

                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="container">
    <h1 class="text-lg-center">Soonest Contests</h1>
    <div class="row row-cols-2 row-cols-md-2">
        @if (Model.Count() > 0)
        {
            <div class="col mb-4">
                <div class="card border-primary">
                    <img class="center" id="event" style="max-height: 200px;  min-width:200px;  margin: auto;object-fit: contain; " src=@("~/images/" + (Model.First().PhotoPath ?? "noimages.png")) ; asp-append-version="true">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center">@Model.First().Title <img src="~/images/pl.jpg" border="0" alt="PL" style="max-height:20px; max-width:40px;" title="Poland"></h5>
                        <p class="card-text text-center">
                            <ul class="list-group list-group-flush text-center">
                                <li class="list-group-item">Date: @Html.DisplayFor(m => m.First().ContestDate, "{0:dd/MM/yyyy}")</li>
                                <li class="list-group-item">Age Type: @Model.First().TypeText</li>
                                <li class="list-group-item">Category: @Model.First().CategoryText</li>
                                <li class="list-group-item"><a>@Html.ActionLink("Details", "Detail", "Contest", new { id = @Model.First().ID }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        }
        @if (Model.Count() > 1)
        {
            <div class="col mb-4">
                <div class="card  border-secondary">
                    <img class="center" id="event" style="max-height: 200px;  min-width:200px;  margin: auto;object-fit: contain;" src="@("~/images/" + (Model.Skip(1).First().PhotoPath ?? "noimages.png"))" ; asp-append-version="true">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center">@Model.Skip(1).First().Title  <img src="~/images/pl.jpg" border="0" alt="PL" style="max-height:20px; max-width:40px;" title="Poland"></h5>
                        <p class="card-text text-center">
                            <ul class="list-group list-group-flush text-center">
                                <li class="list-group-item">Date: @Html.DisplayFor(m => m.Skip(1).First().ContestDate, "{0:dd/MM/yyyy}")</li>
                                <li class="list-group-item">Age Type: @Model.Skip(1).First().TypeText</li>
                                <li class="list-group-item">Category: @Model.Skip(1).First().CategoryText</li>
                                <li class="list-group-item"><a>@Html.ActionLink("Details", "Detail", "Contest", new { id = @Model.Skip(1).First().ID }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>

        }
        @if (Model.Count() > 2)
        {
            <div class="col mb-4">
                <div class="card border-info">
                    <img class="center" id="event " style="max-height: 200px;  min-width:200px;  margin: auto;object-fit: contain;" src="@("~/images/" + (Model.Skip(2).First().PhotoPath ?? "noimages.png"))" asp-append-version="true">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center">@Model.Skip(2).First().Title  <img src="~/images/pl.jpg" border="0" alt="PL" style="max-height:20px; max-width:40px;" title="Poland"></h5>
                        <p class="card-text text-center">
                            <ul class="list-group list-group-flush text-center">
                                <li class="list-group-item">Date: @Html.DisplayFor(m => m.Skip(2).First().ContestDate, "{0:dd/MM/yyyy}")</li>
                                <li class="list-group-item">Age Type: @Model.Skip(2).First().TypeText</li>
                                <li class="list-group-item">Category: @Model.Skip(2).First().CategoryText</li>
                                <li class="list-group-item"><a>@Html.ActionLink("Details", "Detail", "Contest", new { id = @Model.Skip(2).First().ID }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>


        }
        @if (Model.Count() > 3)
        {<div class="col mb-4">
                <div class="card border-success">
                    <img class="center" id="event" style="max-height: 200px;  min-width:200px;  margin: auto;object-fit: contain;" src="@("~/images/" + (Model.Skip(3).First().PhotoPath ?? "noimages.png"))" asp-append-version="true">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center">@Model.Skip(3).First().Title  <img src="~/images/pl.jpg" border="0" alt="PL" style="max-height:20px; max-width:40px;" title="Poland"></h5>
                        <p class="card-text text-center">
                            <ul class="list-group list-group-flush text-center">
                                <li class="list-group-item">Date: @Html.DisplayFor(m => m.Skip(3).First().ContestDate, "{0:dd/MM/yyyy}")</li>
                                <li class="list-group-item">Age Type: @Model.Skip(3).First().TypeText</li>
                                <li class="list-group-item">Category: @Model.Skip(3).First().CategoryText</li>
                                <li class="list-group-item"><a>@Html.ActionLink("Details", "Detail", "Contest", new { id = @Model.Skip(3).First().ID }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>      }
        <script src="~/lib/jquery/dist/jquery-3.4.1.min.js"></script>
        <script>

            $(document).ready(function () {
                function Contains(text_one, text_two) {
                    if (text_one.indexOf(text_two) != -1)
                        return true;
                }
                $("#Search").keyup(function () {
                    var searchText = $("#Search").val().toLowerCase();
                    $(".Search").each(function () {
                        if (!Contains($(this).text().toLowerCase(), searchText)) {
                            $(this).hide();
                        }
                        else {
                            $(this).show();
                        }
                    });

                });
            });



        </script>

